@page "/articles"
@using global::Shared.DTO
@using global::Shared.Requests.Articles

<h1>Cascade Auth State</h1>


@{
    foreach (var article in _articles)
    {
        <p>@article.Title</p>
    }
}

<InputText @bind-Value="_s"/>
<button @onclick="EditArticle">Edit article</button>


@code {
    private List<ArticleModel> _articles = new();
    private string? _s;

    protected override async Task OnInitializedAsync()
    {
        _articles = await Facade.GetArticles(new GetArticlesRequest());
    }

    private async Task EditArticle()
    {
        var text = _s;
        if (text is not null)
        {
            var editedArticle = await Facade.EditArticle(new EditArticleRequest
            {
                Description = _articles[0].Description,
                Id = _articles[0].Id,
                Text = text,
                Title = _articles[0].Title
            });
            if (editedArticle is not null)
            {
                ToastService.ShowToast(editedArticle.Text, ToastLevel.Success);
            }
        }
    }
}