@page "/articles"
@using global::Shared.DTO
@using global::Shared.Requests.Articles
@using Refit
@inject IArticlesControllerClient ArticlesControllerClient


<h1>Cascade Auth State</h1>


@{
    foreach (var article in _articles)
    {
        <p>@article.Title</p>
    }
}

@code {
    private List<ArticleModel> _articles = new List<ArticleModel>();

    protected override async Task OnInitializedAsync()
    {
        
        var response = await ArticlesControllerClient.GetArticles(new GetArticlesRequest());
        _articles = response.Articles.ToList();
    }
}