@page "/"
@inject ToastService ToastService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h3>Новости</h3>
<p>Девлог от 24.08.2023: </p>
<ul>
    <li>
        Сделан навбар и адекватное перемещение по разделам
    </li>
    <li>
        Поправлен баг с вездесущим e>. Также были убраны некоторые баги API
    </li>
     <li>
        Тимлид не пидорас!
    </li>
</ul>