@page "/auth/login"
@using global::Shared.DTO
@using global::Shared.Requests.Auth
@using Blazored.LocalStorage
@inject IAuthControllerClient AuthControllerClient
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
<h3>LogIn</h3>

<div>
<EditForm Model="@_loginDto" OnSubmit="Submit">
    <p>
        Почта :<br/>
        <InputText type="email" @bind-Value="_loginDto.Email"/>
    </p>
    <p>
        Пароль:<br/>
        <InputText type="password" @bind-Value="_loginDto.Password"/>
    </p>

    <button type="submit">Войти</button>
    @if (_errorMessage.Length > 0)
    {
        <span>@_errorMessage</span>
    }
</EditForm>
</div>
@code {
    private readonly LoginModel _loginDto = new();
    private string _errorMessage = "";
    
    private async Task Submit()
    {
        var response = await Facade.LogInUser(new LogInRequest { LoginModel = _loginDto });
        _errorMessage = "";
        foreach (var error in response.Errors)
        {
            _errorMessage += error;
        }
        if (response.IsSucceeded)
        {
            Navigation.NavigateTo("/");
        }
    }
}