@page "/auth/login"
@using global::Shared.DTO
@using global::Shared.Requests.Auth
@inject NavigationManager Navigation
<h3>LogIn</h3>

<div>
<EditForm Model="@_loginModel" OnSubmit="Submit">
    <p>
        Почта :<br/>
        <InputText type="email" @bind-Value="_loginModel.Email"/>
    </p>
    <p>
        Пароль:<br/>
        <InputText type="password" @bind-Value="_loginModel.Password"/>
    </p>

    <button type="submit">Войти</button>
    <span>@_errorMessage</span>
</EditForm>
</div>
@code {
    private readonly LoginModel _loginModel = new();
    private string _errorMessage = "";
    
    private async Task Submit()
    {
        var request = new LogInRequest { LoginModel = _loginModel };
        var (_, error) = await Facade.LogInUser(request);
        if (error is null)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            _errorMessage = error.Message;
        }
    }
}