@page "/auth/register"
@using global::Shared.DTO
@using global::Shared.Requests.Auth
@inject NavigationManager NavigationManager
<h3>Register</h3>
<div>
    <EditForm Model="@_registerModel" OnSubmit="Submit">
         <p>
            Псеводним:<br/>
            <InputText @bind-Value="_registerModel.Username"/>
        </p>
        <p>
            Имя:<br/>
            <InputText @bind-Value="_registerModel.Name"/>
        </p>
        <p>
            Фамилия:<br/>
            <InputText @bind-Value="_registerModel.Surname"/>
        </p>
        <p>
            Отчество (если есть):<br/>
            <InputText @bind-Value="_registerModel.Patronymic"/>
        </p>
        <p>
            Почта :<br/>
            <InputText type="email" @bind-Value="_registerModel.Email"/>
        </p>
        <p>
            Пароль:<br/>
            <InputText type="password" @bind-Value="_registerModel.Password"/>
        </p>

        <button type="submit">Зарегистрироваться</button>
    </EditForm>
</div>
@code {
    private readonly RegisterModel _registerModel = new();

    private async Task Submit()
    {
        var request = new CreateUserRequest { RegisterModel = _registerModel };
        var response = await Facade.CreateUser(request);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/auth/login");
        }
        else
        {
            Console.WriteLine(response.Error.Message);
        }
    }
}