@inherits LayoutComponentBase

<NavMenu />
<AuthorizedChecker/>
<Toast/>
<div class="page">
    <main>
        <article class="content px-4">
            <CustomErrorBoundary @ref="_errorBoundary">
                <ChildContent>
                    @Body
                </ChildContent>
            </CustomErrorBoundary>
        </article>
    </main>
</div>

@code {
    private CustomErrorBoundary? _errorBoundary;
    
    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }

}